/* CSS Document */
.kare1
	{
		  height:100px;
		  width:100px;
		  background-color:#00CCCC;
		  text-align:center;
		  
	}
.kare2
	{
		  height:100px;
		  width:100px;
		  background-color:#3C6;
		  float:left;
		  text-align:center;
	}
.kare3
	{
		  height:100px;
		  width:100px;
		  background-color:#C66;
		  float:left;
		  text-align:center;
	}
.kare4
	{
		  height:100px;
		  width:100px;
		  background-color:#FC6;
		  text-align:center;
	}
.kare5
	{
		  height:100px;
		  width:100px;
		  background-color:#99C;
		  text-align:center;
	}

