.container
{
    width: 1000px;
    height: auto;
    margin: auto;
    border: 0px 3px 0px 3px solid #999;
}
.header
{
    width: 1000px;
    height: 138px;
    background-image: url(images/header.png);
}
.yanmenu
{
    width: 200px;
    height: 240px;
    background-color: #CCC;
    float: left;
}
.yanmenuicerik
{
    width: 200px;
    height: 30px;
    line-height: 30px;
    background-color: #CCC;
    text-align: center;
}
.ortamenu
{
    width: 750px;
    height: auto;
    float: right;
    border: 3px 3px 3px 3px sloid #999;
   
}
.basliklar
{
    width: 750px;
    height: 20px;
    line-height: 20px;
    clear: both;
    background-color: #333;
    color: White;
    font-size: 12px;
    margin-right: 20px;
}
.bilgi
{
    width: 750px;
    height: 20px;
    line-height: 20px;
    clear: both;
    color:Red;
    text-align:right;
    font-size: 10px;
}
.oturumlarpanel
{
    width: 750px;
    height:100px;
    background-color: #ccc;
    clear:both;
     }
.oturumlar
{
    height:25px;
    width:400px;
    clear:both;
}
.dil
{
    width: 750px;
    height:auto;
    background-color: #ccc;
    clear:both;
    }
.footer
{
    clear:both;
     width: 1000px  ;
    height:38px;
    background-image:url(images/footer.png);
}