/* CSS Document */
.menu {
	background-color:#336666;
	width:200px;
	height:240px;
	padding-top:10px;
	border-radius:4px;
}
.menu a {
	
	text-decoration:none;
	color:#FFF;
	font-size:20px;
	background-color:#399;
	display:block;
	border-radius:4px;
}
.menu ul {
	list-style-type:none;
	padding:0px;
	width:180px;
	margin:auto;
}
.menu li {
	height:35px;
	margin-bottom:3px;
	line-height:35px;
	text-align:center;
}
.menu a:hover {
	background-color:#3C9;
	color:#993300;
	font-weight:bold;
}
