.container{
	width:900px;
	height:900px;
	background-color:#CFF;
	padding-top:30px;
	margin:auto;
	}
.ogrencibilgiler{
	width:900px;
	height:50px;
	background-color:#FC6;
	top:50px;
	float:none;
	}
.button{
	width:100px;
	height:50px;
	background-color:#00FFFF;
	margin-bottom:10px;
	}
.text{
	width:90px;
	height:40px;
	background-color:#000;
	float:left;
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	}
.temizle{
	clear:both;
	}

.deger{
	width:90px;
	height:50px;
	background-color:#9C9;
	float:left;
	}