/* CSS Document */
h4{
	color:#CCCC33;
	font-size:36px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:15px;
	}
.paragraf{
	color:#03F;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	word-spacing:5px;
	text-indent:30;
	}
